* {
    margin: 0;
    padding: 0;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    width: 177px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color: #E55473;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    background-color: rgba(229, 84, 115, 0.3);
}

.let {
    font-size: 80px;
    font-weight: 800;
    margin-top: 167px;
}

.it {
    font-size: 18px;
    margin: 32px 0px 32px 0px;
}

.img {
    width: 635px;
    height: 800px;
}

.feature {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #272727;
    margin: 178px 0px 24px 0px;
}

.fact {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: rgba(39, 39, 39, 0.6);
}

.divimg1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.divimg2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.2);
}

.divimg3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.2);
}

.flowerimg1 {
    width: 310px;
    height: 428px;
    padding: 78px 78px 0px 78px;
    border-radius: 300px 300px 0px 0px;
}

.flowerimg2 {
    width: 370px;
    height: 370px;
    padding: 85px 47px 51px 47px;
    border-radius: 300px 300px 0px 0px;
}

.flowerimg3 {
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
    border-radius: 300px 300px 0px 0px;
}

.pinkflowertree {
    text-decoration: underline;
    font-size: 24px;
    font-weight: bold;

}

.threeflowers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0px 130px 0px;
    gap: 40px;
}

.f1,
.f2,
.f3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:576px) {
    .let {
        font-size: 20px;
        margin-top: 30px;
    }

    .it {
        font-size: 10px;
    }

    .btn {
        width: 90px;
        height: 30px;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .img {
        width: 318px;
        height: 400px;
    }

    .intro {
        align-items: flex-end;
        padding-left: 15px;
    }
    .threeflowers{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .divimg1, .divimg2, .divimg3{
        width: 320px;
        height: 358px;
    } 
    .flowerimg1{
        width: 206px;
        height: 285px;
    }
    .flowerimg2{
        width: 246px;
        height: 246px;
    }
    .flowerimg3{
        width: 209px;
        height: 314px;
    }
    .divimg3{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .feature{
        font-size: 20px;
        margin-top: 40px;
    }
    .fact{
        font-size: 10px;
    }
}